.countriesList {
    display: flex;
    list-style-type: none;
    width: 400px;
    margin: 5px 0 5px 10px;
}

.county {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name {
    margin-right: 10px;
}
